# Compilação
bin/
obj/

# Configurações locais de IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache

# Resultados de testes
TestResult*/
*.coverage
*.coveragexml

# Pacotes NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Configurações de desenvolvimento locais
appsettings.Development.json
